<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Change Password</title>
  <link rel="stylesheet" href="../../css/adminChangePassword.css" />
</head>
<body>
  <div class="form-container">
    <div class="form-box">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Value" />

      <label for="new-password">New Password</label>
      <input type="password" id="new-password" placeholder="Value" />

      <div class="button-center">
        <button class="changePasswordButton">Change Password</button>
      </div>
    </div>
  </div>

  <div id="changePasswordPopup" class="hidden-overlay">
    <div class="confirm-content">
      <p>
        You are changing the password for user <span id="changeUserID"></span>.
        <br>
        Please make sure to save the password in a safe place!
      </p>

      <input type="password" id="adminConfirmPassword" placeholder="Enter Admin Password" class="popup-input" />

      <div class="confirm-buttons">
        <button class="btn" onclick="hideChangePasswordPopup()">Cancel</button>
        <button class="btn">Confirm</button>
      </div>
    </div>
  </div>

  <script src="../../js/adminChangePass.js"></script>
</body>
</html>
