<!-- resources/views/navbar.html -->
<div class="navbar">
  <div class="nav-left">
    <a href="home.php" class="active">Home</a>
    <a href="../project/SearchProject.html">Project Search</a>
    <a href="../project/history.html">Project History</a>
    <a href="../project/CreateProjectView.html">Create Project</a>
    <a href="#">Status Overview</a>
  </div>

  <a class="logo-container" href="#">
    <img src="/SysDevProject/public/images/logo/New_TGE_Logo_2025.png" alt="Logo" class="logo">
  </a>

     <div class="nav-right">
      <div class="search-box">
        <input type="text" placeholder="Search">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <button class="logout-btn">Logout</button>
      <div class="dropdown">
        <span class="dropdown-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content">
          <a href="/SysDevProject/resources/views/admin/adminChangePassword.html">Manage</a>
          <a href="./createUser.html">Create</a>
          <a href="../project/deleteProject.html">Delete</a>
          <a href="/SysDevProject/resources/views/admin/userActivation.html">User Status</a>
          <a href="/SysDevProject/resources/views/project/archive.html">Project Archive</a>
        </div>
      </div>
    </div>
  </div>

</div>