<!-- resources/views/navbar.html -->
<div class="navbar">
  <div class="nav-left">
    <a href="home.html" class="active">Home</a>
    <a href="./project/searchProject.html">Project Search</a>
    <a href="./project/history.html">Project History</a>
    <a href="./project/createProject.html">Create Project</a>
    <a href="statusOverview.html">Status Overview</a>
  </div>

  <a class="logo-container" href="#">
    <img src="../../public/images/logo/New TGE Logo 2025.png" alt="Logo" class="logo">
  </a>

     <div class="nav-right">
      <div class="search-box">
        <input type="text" placeholder="Search">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <button class="logout-btn">Logout</button>
      <div class="dropdown">
        <span class="dropdown-icon"><i class="fa-regular fa-user"></i></span>
        <div class="dropdown-content">
          <a href="../views/admin/adminChangePassword.html">Manage</a>
          <a href="../views/admin/createUser.html">Create</a>
          <a href="../views/project/deleteProject.html">Delete</a>
          <a href="../views/project/deleteProject.html">User Status</a>
          <a href="../views/project/archive.html">Project Archive</a>
        </div>
      </div>
    </div>
  </div>

</div>