
.Search-container {
    padding: 0 100px;
    max-width: 1000px;
    margin: auto;
  }
  
  form.project-search-box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  
  .project-search-box input {
    display: block;
    width: 97%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .button-wrapper {
    text-align: center;
  }

  .orange-button {
    background-color: #F68A30;
    border: 1px solid #000000;
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
  }
  

  
  .result-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .result-header span {
    font-weight: bold;
    font-size: 16px;
  }
  
  .result-header small {
    color: #777;
  }
  
  .project-status {
    font-weight: bold;
    color: #333;
  }
  
  .button-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .left-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
  }

  .right-button {
    margin-left: auto;
  }
  
  .action-button {
    background-color: #F68A30;
    color: white; 
    border: 1px solid black;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 120px;
    text-align: center;
  }

  .button-row .orange-button {
    flex: 1;
    min-width: 100px;
    text-align: center;
  }