
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .project-title {
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    color: #f68a30;
  }
  
  .project-id {
    margin: 4px 0;
    color: #f68a30;
    font-size: 14px;
    font-weight: bold;
  }
  
  .project-status {
    color: #f68a30;
    font-size: 20px;
    font-weight: lighter;
  
  }

.input-title, .input-status {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    margin-bottom: 10px;
  }
  
  .project-id {
    color: #f68a30;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .gray-box {
    width: 98%;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
  }

  .input-textarea:first-child {
    width: 98%;
    margin-top: -15px;
    height: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
  }
  
  .input-textarea {
    width: 97%;
    height: 20px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
  }
  
    .input-number {
    width: 97%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }

  .input-date {
    width: 97%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  
  
  .gray-box label {
    display: block;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 6px;
  }

  
  .media-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .media-button {
    width: 135px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  
  .media-button i {
    font-size: 16px;
  }
  
  .media-button:hover {
    background-color: #eee;
  }
  
  main {
    margin: 40px;
  }

  .orange-button {
    background-color: #F68A30;
    border: 1px solid #000000;
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
  }

  .form-button {
    background-color: #F68A30;
    color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.form-actions button {
    width: 80px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .orange-btn.small {
    background-color: #f68a30;
    border: 1px solid black;
    color: white;
    padding: 6px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    width: 100px;
  }